[Unit]
Description=DJI Receiver Service
After=network-online.target
Wants=network-online.target

[Service]
User=dragon
WorkingDirectory=/home/dragon/WarDragon/antsdr_dji_droneid
ExecStart=/usr/bin/python3 /home/dragon/WarDragon/antsdr_dji_droneid/dji_receiver.py --proxy
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
